:root {
    --primary: #F3E2E2;
    --toggle: #6A4441;
}
.homepage{
    width:90%;
}
.banner{
    font-size: 200%;
    margin-left: 11%;
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
    color: linear-gradient(90deg,rgba(106,68,65,1)  0%, rgba(121,9,26,1) 100%,  rgba(187,127,126,1) 100%);
    background-color: #C18383;
    background-image: linear-gradient(90deg,rgba(106,68,65,1)  20%, rgba(187,127,126,1) 50%, rgba(187,127,126,1) 58%);
    background-size: 80%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.content{
    width: 90%;
    margin-top: 5%;
    margin-left: 6%;
}
.content-header{
    font-size: 130%;
    font-weight: bolder;
    color: #8A5B59;
    font-family: 'Heebo', sans-serif;    
}
.content-row{
    display: flex;
    width: 100%;
}
.content-col{
    width: 50%;
    padding:2px;
    display: flex;
}
.icon i{
    color:#706D6D ;
}
.icon{
    font-size: 300%;
    margin-top: 10%;
    margin-right: 5%;
}

.detail{
    font-family: 'Heebo', sans-serif;
}
.detail h5{
    font-size: 110%;
}
.detail h6{
    font-size: 100%;
}