.profile{
    font-size: 150%;
    width: 78%;
    margin-left: 11%;
    font-family: 'Noto Sans', sans-serif;
}
.profile .row{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.label i{
    color: #474141;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.label label{
    color: #474141;
}
input {
    border: none;
    width: 90%;
    border-bottom: 2px solid #D5C6C7;
    padding: 2% 1%;

}
.row-button{
    display: inline-flex;
    width: 100%;
    padding: 2rem 1rem;
}
.row-button div{    
    margin: 2rem 2rem;
}
.cancel-subscription{
    color:#D8A4A4;
    padding-top: 1rem;
}

@media screen and (max-width:960px) {
    .label i{
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .row-button{
        font-size: 70%;
        padding: 1rem .5rem;
    }
    .row-button div{    
        margin: 1rem 1rem;
    }
    .cancel-subscription{
        font-size: 100%;
    }
}