:root {
    --primary: #F3E2E2;
    --toggle: #6A4441;
}
*{
    font-family: 'Heebo', sans-serif;
}
.login-container{
    width: 80%;
    margin-left: 11%;
    margin-top: 2rem;  
    margin-bottom: 2rem;
}

.login-banner{
    font-size: 150%;
    font-weight: bolder;
    color:#845755;  
}

.form-group{
    width: 100%;
}
.form-col{
    margin-top: 2rem;
    width: 50%;
}
.form-col .label{
    font-size: 105%;
}
.form-col input{
    padding: .5rem 1rem;
}
.submit{
    padding: .5rem 5rem;
}
.redirect{
    color: #3A3535;
    font-size: 130%;
    font-weight:900;
}
.redirect-link{
    color:#D09392;
    text-decoration: none;
}
@media screen and (max-width: 960px){
    .form-group{
        width: 100%;
    }
    .form-col{
        width: 100%;
    }
    .submit{
        padding: .5rem 3rem;
    }
}