[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autoflake = "*"
black = "==20.8b0"
isort = "==5.7.0"

[packages]
fastapi = "*"
fastapi-users = {extras = ["sqlalchemy"],version = "*"}
uvicorn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
asyncpg = "*"
databases = {extras = ["postgresql"],version = "*"}
fastapi-contrib = "*"

[requires]
python_version = "3.8"
