:root {
    --primary: #F3E2E2;
    --toggle: #6A4441;
}
.homepage{
    width:78%;
    margin-left: 11%;
}
.banner{
    padding-top: 5%;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
    color: linear-gradient(90deg,rgba(106,68,65,1)  50%, rgba(121,9,26,1) 80%,  rgba(187,127,126,1) 100%);
    background-color: #C18383;
    background-image: linear-gradient(90deg,rgba(106,68,65,1)  50%, rgba(187,127,126,1) 70%, rgba(187,127,126,1) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.content{
    width: 90%;
    margin-top: 5%;
}
.content-header{
    font-size: 130%;
    font-weight: bolder;
    color: #8A5B59;
    font-family: 'Heebo', sans-serif;    
}
.content-row{
    display: flex;
    width: 100%;
}
.content-col{
    width: 50%;
    padding:2px;
    display: flex;
}
.icon i{
    color:#706D6D ;
}
.icon{
    font-size: 300%;
    margin-top: 10%;
    margin-right: 10%;
}

.detail{
    font-family: 'Heebo', sans-serif;
    width: 90%;
}
.detail h5{
    font-size: 110%;
}
.detail h6{
    font-size: 100%;
}

@media screen and (max-width:960px) {
    .banner{
        font-size: 120%;
        padding-top: 5%;
        color: linear-gradient(90deg,rgba(106,68,65,1)  50%, rgba(121,9,26,1) 80%,  rgba(187,127,126,1) 100%);
        background-color: #C18383;
        background-image: linear-gradient(90deg,rgba(106,68,65,1)  50%, rgba(187,127,126,1) 70%, rgba(187,127,126,1) 200%);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
    .content-header{
        font-size: 120%;
        font-weight: bolder;
        color: #8A5B59;
        font-family: 'Heebo', sans-serif;   
    }

    .content-row{
        display:block;
        width: 100%;
    }
    .content-col{
        width: 100%;
    }
    .detail{
        width: 100%;
    }
    .detail h5{
        font-size: 95%;
    }
    .detail h6{
        font-size: 80%;
    }
}