*{
    color:#6A4441;
}
.profile{
    font-size: 150%;
    margin-top: 1.5rem;
    margin-left: 5%;
}
@media screen and (max-width: 960px){
    .profile{
        font-size: 300%;
        margin-top: 5%;
    }
}