[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autoflake = "*"
black = "==20.8b0"
isort = "==5.7.0"

[packages]
asyncpg = "*"
databases = {extras = ["postgresql"],version = "*"}
fastapi = "*"
httpx = "==0.17.1"
psycopg2-binary = "*"
sqlalchemy = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
