:root {
    --primary: #F3E2E2;
    --toggle: #6A4441;
}
*{
    font-family: 'Heebo', sans-serif;
}
.login-container{
    width: 80%;
    margin-left: 11%;
    margin-top: 2rem;  
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.login-banner{
    margin-top: 5%;
    font-size: 150%;
    font-weight: bolder;
    color:#845755;  
}

.login-form-group{
    align-content: center;
    width: 90%;
}
/* errors */
.login-error{
    margin: 3rem;
    color: rgb(150, 32, 32);
    font-size: 110%;
    font-weight: 900;
}

.phone-error{
    margin-bottom: 1rem;
    color: rgb(150, 32, 32);
    font-size: 110%;
    font-weight: 900;
}

.login-form-col{
    margin-top: 2rem;
    width: 50%;
}
.login-form-col .label{
    font-size: 100%;
}

.login-form-col input{
    border: 1px solid;
    width: 100%;
    border-radius: 5px;
    padding: .8rem 1.5rem;
}
.submit{
    padding: .5rem 5rem;
}
.login-redirect{
    margin-top: 4%;
    color: #3A3535;
    font-size: 130%;
    font-weight:900;
}
.redirect-link{
    color:#D09392;
    text-decoration: none;
}
@media screen and (max-width: 960px){
    .login-banner{
        margin-top: 5%;
        font-weight: bolder;
        color:#845755;  
    }
    .login-form-group{
        width: 100%;
    }
    .login-form-col{
        width: 90%;
    }
    .submit{
        padding: .5rem 3rem;
    }
    .login-redirect-link{
        color:#D09392;
        text-decoration: none;
    }
}