:root {
    --primary: #F3E2E2;
    --toggle: #6A4441;
}
#reg-error{
    margin-left: 10%;
    color: red;
    font-size: 60%;
}
.register{
    font-size: 200%;
    width:78%;
    margin-left: 11%;
    margin-bottom: 10%;
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
}
.welcome{
    width: 90%;
    font-weight: 1000;
    padding: 0px 20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.language{
    font-size: 70%;
    font-weight: 600;
    font-family: 'Antic Slab', serif;
    color: rgb(43, 27, 26,.8);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.gradient-text-top {
    background-color: #C18383;
    font-size: 180%;
    background-image: linear-gradient(90deg, rgba(187,127,126,1) 10%, rgba(187,127,126,1) 20%, rgba(106,68,65,1) 60%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.gradient-text {
    background-color: #F3E2E2;
    font-size: 180%;
    background-image: linear-gradient(90deg, rgba(187,127,126,1) 15%, rgba(187,127,126,1) 7%, rgba(106,68,65,1) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.formtext{
    font-weight: 600;
    color:#1C1919;
    font-size:65%;
}
.form-group{
    display: inline-block;
    max-width: 90%;
    margin-bottom: 5%;
}
.row{
    display:inline-flex;
    color:#332F2F;
    font-size: 60%;
    width: 80%;
    overflow: hidden;
}
.form-col{
    display:block;
    width: 100%;
    margin-right: 10%;
}

.form-col label{
    color: #605959;
    font-weight: bold;
    font-size: 80%;
    margin-left: 1.0rem;
}
.form-col input{
    border: 1.5px solid #292424;
    padding: 7px 10px;
    margin: 10px 10px;
    border-radius: 5px;
    width: 100%;
}
.submit{
    margin-top: 5%;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 18px;
    color: #F5E6E6;
    background-color: #CE8D8D;
    cursor: pointer;
    border: 1px solid transparent;

}
#error{
    color: red;
    font-size: 70%;
}
.loginredirect{
    font-size: 90%;
}
@media screen and (max-width: 960px) and (min-width: 661px){
    .regerror{
        margin-left: 5%;
        font-size: 60%;
    }
    .welcome{
        font-size: 70%;
    }   
    .form-group{
        margin-top: 10%;
    }
    .row{
        display:inline-block;
        width: 100%;
    }
    .form-col{
        width: 80%;
        font-size: 80%;
        height:auto;
    }
    .form-col input{
        border: 1.5px solid #292424;
        padding-left: 4px;
        border-radius: 5px;
        width: 80%;
    }
    .formtext{
        font-weight: bolder;
        font-size: 45%;
        margin-top: 5%;
    }
    .loginredirect{
        font-size: 75%;
    }
}

@media screen and (max-width: 660px) {
    .regerror{
        margin-left: 5%;
        font-size: 60%;
    }
    .welcome{
        font-size: 50%;
    }
    .form-group{
        margin-top:5%;
    }
    .row{
        display:inline-block;
        width: 100%;
    }
    .form-col{
        width: 90%;
        height:auto;
    }
    .form-col input{
        border: 1.5px solid #292424;
        padding-left: 4px;
        border-radius: 5px;
        width: 100%;
    }
    .formtext{
        font-weight: bolder;
        font-size: 40%;
        margin-top: 2%;
    }
    .loginredirect{
        font-size: 75%;
    }
}